.post2__block {
    width: 370px;
}

.post2__slider {
    position: relative;
    overflow: hidden;
    height: 237px;
    text-align: center;
}

.post2__moveBlock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 600%;
    text-align: left;
    transition: left 1s ease-out 0.1s;
}

.post2__imgBlock {
    display: inline-block;   
}

.post2__img {
    max-width: 100%;
    height: auto;
}

.post2__input {
    display: none;
}

.post2__input:checked + label {
    background-color: transparent;
    border: 2px #d1c0ac solid;
    margin: 0 3px;
}

.post2__label {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: 90%;
    z-index: 10;
    border-radius: 50%;
    margin: 0 5px;
}

.post2__slider > input:nth-of-type(2):checked ~ div.post2__moveBlock {left: -100%;}
.post2__slider > input:nth-of-type(3):checked ~ div.post2__moveBlock {left: -200%;}
.post2__slider > input:nth-of-type(4):checked ~ div.post2__moveBlock {left: -300%;}
.post2__slider > input:nth-of-type(5):checked ~ div.post2__moveBlock {left: -400%;}

.post2__dateBlock {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
    border-radius: 5px;
    width: 50px;
    height: 60px;
    color: white;
    overflow: hidden;
}

.post2__day {
    background-color: #363636;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
}

.post2__month {
    flex-grow: 1;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    font-family: 'Roboto Regular';
}