/* */
body {
    margin: 0;
    padding: 0;
}


/* container */

.container {
    width: 100%;
    height: 100vh;
}

.container_header {
    background-image: url('../img/photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}