/* */
@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat Light.ttf');
}

@font-face {
    font-family: 'Raleway ExtraBold';
    src: url('../fonts/Raleway ExtraBold.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway Regular.ttf');
}

body, h1 {
    margin: 0;
    padding: 0;
}

/* container */

.container {
    width: 100%;
    height: 100vh;
    max-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.container_header {
    background-image: url('../img/photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
    min-width: 1179px;
    margin: 0 auto;
}

.header__flexblock {
    display: flex;
    align-items: center;
}

.header__caption {
    color: white;
    font-size: 34px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.header__navItem_text {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header__navItem_text:hover {
    color: #c7b299;
    
}

.header__navItem_svg {
    text-decoration: none;
    margin-left: 25px;
}

/* section__slider */

.section__slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

.section_w-100 {
    width: 100%;
}

.section_w-fix {
    min-width: 1179px;
    position: relative;
    overflow: hidden;
}

.slider__arch {  /* стрелки головного слайдера */
    width: calc( 50% - 1179px / 2 );
    background-repeat: no-repeat;
    background-position: center center;
}

.slider__arch:hover {
    background-color: rgba(250, 239, 136, 0.3);
}

.slider__arch_pos-left {
    background-image: url('../img/arch-left.png');
}

.slider__arch_pos-right {
    background-image: url('../img/arch-right.png');
}

.slider__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.slider__item_n-1 {
    top: 0;
    left: 0;
}

.slider__item_n-2 {
    top: -100%;
    left: 0;
}

.slider__item_n-3 {
    top: -100%;
    left: 0;
}

.slider__content {
    flex-basis: 680px;
    text-align: center;
    color: white;
}

.slider__h3 {
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 30px;
}

.slider__h2 {
    font-family: 'Raleway ExtraBold', Arial;
    font-size: 52px;
    font-weight: 400;
    margin: 30px;
}

.slider__text {
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 54px;
}

.slider__button {
    height: 52px;
    width: 171px;
    border: 0;
    border-radius: 5px;
    background-color: #998675;
    font-family: 'Raleway ExtraBold', Arial;
    color: white;
    font-size: 14px;
    border-bottom: 3px #736357 solid;
}

.slider__circlBlock {
    min-width: 100px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.circle_style-normal {
    background-color: #8e8f91;
    border: 0;
    margin-top: 2px;
}

.circle_style-focus {
    background-color: none;
    border: 2px white solid;
}

