/* */
@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat Light.ttf');
}

@font-face {
    font-family: 'Raleway ExtraBold';
    src: url('../fonts/Raleway ExtraBold.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway Regular.ttf');
}

body, h1 {
    margin: 0;
    padding: 0;
}

/* container */

.container {
    width: 100%;
    height: 100vh;
    max-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.container_header {
    background-image: url('../img/photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
    min-width: 1179px;
    margin: 0 auto;
}

.header__flexblock {
    display: flex;
    align-items: center;
}

.header__caption {
    color: white;
    font-size: 34px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.header__navItem_text {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header__navItem_text:hover {
    color: #c7b299;
    
}

.header__navItem_svg {
    text-decoration: none;
    margin-left: 25px;
}

/* section */

.section_w-100 {
    width: 100%;
}

.section__header {
    max-width: 770px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px; 
}

.section__text {
    max-width: 770px;
    text-align: center;
    margin: 0 auto 42px auto;
}

.section_bckg-gradient {
    background: #000000; /* Old Browsers */
    background: -webkit-linear-gradient(left,#000000,#4e3427);
    background: -o-linear-gradient(left,#000000,#4e3427); 
    background: -moz-linear-gradient(left,#000000,#4e3427); 
    background: linear-gradient(to right, #000000, #4e3427); 
}

.section_bckg-grey {
    background-color: #fbfaf8;
}

/* section__slider */

.section__slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

.section_w-fix {
    min-width: 1179px;
    position: relative;
    overflow: hidden;
}

.slider__arch {  /* стрелки головного слайдера */
    width: calc( 50% - 1179px / 2 );
    background-repeat: no-repeat;
    background-position: center center;
}

.slider__arch:hover {
    background-color: rgba(250, 239, 136, 0.3);
}

.slider__arch_pos-left {
    background-image: url('../img/arch-left.png');
}

.slider__arch_pos-right {
    background-image: url('../img/arch-right.png');
}

.slider__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.slider__item_n-1 {
    top: 0;
    left: 0;
}

.slider__item_n-2 {
    top: -100%;
    left: 0;
}

.slider__item_n-3 {
    top: -100%;
    left: 0;
}

.slider__content {
    flex-basis: 680px;
    text-align: center;
    color: white;
}

.slider__h3 {
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 30px;
}

.slider__h2 {
    font-family: 'Raleway ExtraBold', Arial;
    font-size: 52px;
    font-weight: 400;
    margin: 30px;
}

.slider__text {
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 54px;
}

.button {
    height: 52px;
    width: 171px;
    border: 0;
    border-radius: 5px;
    background-color: #998675;
    font-family: 'Raleway ExtraBold', Arial;
    color: white;
    font-size: 14px;
    border-bottom: 3px #736357 solid;
    text-transform: uppercase;
}

.slider__circlBlock {
    min-width: 100px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.circle_style-normal {
    background-color: #8e8f91;
    border: 0;
    margin-top: 2px;
}

.circle_style-focus {
    background-color: none;
    border: 2px white solid;
}


/* servicesSection секция с услугами*/

.services__section {
    width: 100%;
    display: flex;
    justify-content: center; /* размещение элементов по центру */
    align-items: stretch; /* дочерние элементы на всю высоту блока - необходимо для выравнивания д.элементов */
    padding: 80px 0 75px 0; /* Верхний и нижний отступы */
}

.services__item {
    flex-basis: 280px; /* базовая ширина блока */
    text-align: center; /* выравниваем текст по центру */
    margin: 0 17px; /* задаем отступы слева и справа */
    position: relative; /* необходим для задания абсолютного позиционирования у д.элемента */
}

.services__item::after { /* узкая рамка под блоком */
    content: "";
    width: 72px;
    position: absolute;
    left: calc(50% - 36px);
    border-bottom: 3px #f1eee9 solid;
}

.services__item:hover::after {
    border-bottom-color: #c7b299;
}

.services__item:hover {
    color: #c7b299;
}

.services__img { /* картинку фона позиционируем по центру блока */
    width: 100%; 
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__img_icon-1 {
    background-image: url('../img/icon1.png');
}

.services__img_icon-2 {
    background-image: url('../img/icon2.png');
}

.services__img_icon-3 {
    background-image: url('../img/icon3.png');
}

.services__img_icon-4 {
    background-image: url('../img/icon4.png');
}
/* изменение цвета при наведении курсора на блок servicesSection__item*/
.services__item:hover .services__img_icon-1 {
    background-image: url('../img/icon1a.png');
}

.services__item:hover .services__img_icon-2 {
    background-image: url('../img/icon2a.png');
}

.services__item:hover .services__img_icon-3 {
    background-image: url('../img/icon3a.png');
}

.services__item:hover .services__img_icon-4 {
    background-image: url('../img/icon4a.png');
}

/* browser__container */


.browser__container {
    min-width: 1179px;
    margin: 0 auto;
    padding-top: 80px;
}

.browser__images {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.browser__img_pos-left {
    width: 770px;
    margin-right: -540px;
    position: relative;
    z-index: 1;
}

.browser__img_pos-center {
    width: 770px;
    position: relative;
    z-index: 2;
}

.browser__img_pos-right {
    width: 770px;
    margin-left: -540px;
    position: relative;
    z-index: 1;
}

/*rating__container*/

.rating__container {
    max-width: 1179px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

.rating__header {
    margin: 0 0 15px 0;
    color: white;
}

.rating__text {
    margin: 0;
    color: #615855;
}

/* filter__block */

.filter__block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__item {
    line-height: 30px;
    border: 1px #ebebeb solid;
    padding: 0 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #8c8c8c;
    border-radius: 5px;
}

.filter__item:hover {
    background-color: #998675;
    color: white;
    border-color:  #998675;
}

/* project */

.project__section {
    padding: 80px 0; 
}

.project__figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 42px;
}

.grid__item {
    flex-basis: 370px;
    margin: 0 3px 30px 3px;
    background-color: #fbfaf8;
    
}

.grid__item:hover {
    background-color: #362f2d;
}

.grid__item:hover .grid__shadow {
    background-color: rgba(47,47,47,0.8);
}

.grid__img {
    max-width: 100%;
    height: auto;
}

.grid__shadowBlock {
    position: relative;
}

.grid__shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(47,47,47,0);
    transition: background-color 1s linear;
}

.grid__caption {
    color: #c7b299;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding-top: 30px;
}

.grid__text {
    color: #d4d4d4;
    font-size: 14px;
    margin-left: 30px;
}
